/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}

* {
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Source Code Pro', monospace, Arial, Helvetica, sans-serif;
}

#main-background {
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 100%;
    background-image: url("/pictures/gradienta-bKESVqfxass-unsplash.jpg");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: top right;
}

#header__txt {
    padding-left: 20%;
    padding-top: 10%;
}

h1 {
    margin-left: -8%;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    color: #01FFE7;
    ;
}


/*#header_box_img {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    float: right;
}

header img {
    width: 65%;
    float: right;
} */