/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}

* {
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Source Code Pro', monospace, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#main-background {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 70% 10%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url("/pictures/gradienta-bKESVqfxass-unsplash.jpg");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: top right;
}

header {
    grid-area: 1 / 1 / 2/ 4;
}

main {
    grid-area: 2 / 2 / 2 / 3;
}

footer {
    grid-area: 3 / 1 / 5 / 6;
}

#header__txt {
    padding-left: 20%;
    padding-top: 10%;
}

h1 {
    margin-left: -8%;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    color: #01FFE7;
    ;
}

#status-box {
    padding-top: 20%;
}

#construction-status {
    text-align: center;
    padding-bottom: 3%;
    font-weight: normal;
    font-style: italic;
}

img {
    display: block;
    width: 100px;
    margin: 0 auto;
}


/*SECTION MY LINKS*/

#mylinks-box {
    width: 15%;
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mylinks:hover {
    opacity: .9;
}

.mylinks {
    max-width: 100px;
    opacity: .5;
    padding: 1em;
}

footer {
    /* margin-top: auto; */
    text-align: center;
}

#copyright {
    font-size: .9em;
    font-weight: normal;
    color: grey;
}